:root {
  --primary-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bgr-color: #f5f5f5;
  --second-text-color: #757575;
  --anim-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
}

/* Скидання стилів */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Шапка сторінки */
  
.container {
  margin: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
.page-header {
  border: 1px solid #ececec;
}

.logo {

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;
}
.logo--dark{
  padding-top: 24px;
  padding-bottom: 25px;

  color: #000000;
}


.visually-hiden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

span {
  color: var(--accent-color);
}

.list {
  list-style: none;
}
.nav {
  display: flex;
}
.header__container {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  margin-left: 93px;
}
.contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.nav__list .lnk + .lnk {
  margin-left: 50px;
}
.site-link {
  position: relative;
  color: #212121;
  transition: color var(--anim-fast);
}

.site-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3%;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}
 


.link:hover,
.link:focus {
  color: var(--accent-color);
  opacity: 1;
}

.link {
  
  display: flex;
  align-content: center;
  gap: 10px;
  
  transition: color var(--anim-fast);
}

.contacts .lnk + .lnk {
  margin-left: 50px;
}
.contacts-icon {
  fill: none;
}

.nav__list .site-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02;
  text-decoration: none;
}
.contacts .link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;

  color: rgba(117, 117, 117, 1);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02;
  text-decoration: none;
}

.nav__list .site-link:hover,
.nav__list .site-link:focus {
  color: var(--accent-color);
}

.nav__list .site-link.current {
  color: var(--accent-color);
}
.link:hover .contacts-icon,
.link:focus .contacts-icon {
  fill: var(--accent-color);
}

.link:hover ,
.link:focus {
    color: var(--accent-color);
    opacity: 1;
}
.contacts {
  display: flex;
  align-items: center;
}
.contacts-icon {
  fill: rgba(117, 117, 117, 1);
  align-items: center;
  
  transition: fill var(--anim-fast) ;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section.about-cmmnd:nth-child(3n + 1) {
  background-color: #f5f4fa;
}

/*  */



span {
  color: var(--accent-color);
}
.list {
  list-style: none;
}
.nav__list .link {
  color: var(--primary-text-color);
}
.nav__list .link:hover,
.nav__list .link:focus {
  color: var(--accent-color);
}
.nav__list .link.current {
  color: var(--accent-color);
}

.hero.background {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/bgr1.jpg);
}

.hero {
  background-color: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  width: 693px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.btn-modal {
  padding: 10px 32px;
  background-color: var(--accent-color);
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  align-items: center;
  letter-spacing: 0.06em;
  border: 0;
  border-radius: 4px;
}
.animation {
  transform: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.title {
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  margin-top: 30px;
}

.section-title {
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 50px;
}

.feature,
.work {
  display: flex;
}

.feature-list .feature-text {
  width: 270px;
}
.feature .feature-text + .feature-text {
  margin-left: 45px;
}

.feature-list .title {
  color: var(--primary-text-color);
}

.feature-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.text {
  line-height: 1.7;
  color: var(--second-text-color);
  margin-bottom: 0px;
}
.about {
  padding-top: 0px;
}
.work .lst + .lst {
  margin-left: 45px;
}
.photo-label {
  position: relative;
}

.photo > .label-image {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  margin: 0;
  display: block;
  padding: 27px 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  letter-spacing: 0.03em;
  text-transform: uppercase;

  background-color: rgba(47, 48, 58, 0.8);
}

.command {
  display: flex;
}
.command .lst + .lst {
  margin-left: 45px;
}
.command .lst {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  background-color: #ffffff;
}
.command-title-command-text {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
.command-title {
  padding-top: 0px;
  margin-bottom: 10px;

  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}
.command-text {
  margin-bottom: 0px;
  padding-bottom: 0px;
  text-align: center;
  font-size: 16px;
  line-height: 1.2;
  color: var(--second-text-color);
  margin-bottom: 16px;
}
.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.socials-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ffffff;

  transition: background-color var(--anim-fast);
}

.socials-link.cont {
  width: 44px;
  height: 44px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 10%);

  transition: background-color var(--anim-fast);
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill var(--anim-fast);
}
.socials-link:hover .social-icon,
.socials-link:focus .social-icon {
  fill: #ffffff;
}
.socials-link:hover,
.socials-link:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.clients {
  display: flex;
}

.clients-item + .clients-item {
  margin-left: 30px;
}

.clients-link {
  width: 170px;
  height: 92px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #afb1b8;
  border-radius: 4px;
  opacity: 1;
  transition: border-color var(--anim-fast);
}
.clients-icon {
  fill: #afb1b8;
  transition: fill 250ms var(--anim-fast);
}
.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accent-color);
}
.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
  opacity: 1;
}

/* Modalka */
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}
.backdrop {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--anim-fast);
}
.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--anim-fast);
}
.button-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.connect-button-icon:hover,
.connect-button-icon:focus {
  fill: var(--accent-color);
}
.form {
  width: 528px;
  min-height: 580px;
  padding: 40px;
}
.form-title {
  display: block;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.form-field {
  margin-bottom: 20px;
}
.form-label {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
.form-label:not(:last-child) {
  margin-bottom: 10px;
}
.connect-span {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  color: #757575;
}
.form-input {
  width: 448px;
  height: 40px;
  padding: 12px 42px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color var(--anim-fast);
}
.form-input:focus {
  border-color: var(--accent-color);
}
.form-input:focus + .form-icons {
  fill: var(--accent-color);
}
.form-icons {
  position: absolute;
  bottom: 11px;
  left: 12px;

  fill: #212121;
  transition: fill var(--anim-fast);
}
.form-comment {
  width: 448px;
  height: 120px;
  resize: none;
  padding: 12px 16px;

  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  color: #303030;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;

  transition: border-color var(--anim-fast);
}
.form-comment::placeholder {
  color: currentColor;
}
.form-comment:focus {
  border-color: var(--accent-color);
}

.form-agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  gap: 8px;
  cursor: pointer;
}
.form-agreememt-text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;

  color: #757575;
  user-select: none;
}
.form-policy {
  text-decoration-line: underline;
  color: var(--accent-color);
  text-underline-position: under;
}
.form-checkbox:focus + .form-icons-agreement {
  outline: 2px solid var(--accent-color);
  outline-offset: 1px;
  border-radius: 2px;
}

.icon-uncheck {
  transition: opacity var(--anim-fast);
}
.form-checkbox:checked + .form-icons-agreement > .icon-uncheck {
  opacity: 0;
}
.icon-check {
  opacity: 0;
  fill: var(--accent-color);
  transition: opacity var(--anim-fast);
}
.form-checkbox:checked + .form-icons-agreement > .icon-check {
  opacity: 1;
}
.form-button-modal {
  display: flex;
  gap: 10px;
  padding: 10px 32px;
  background-color: var(--accent-color);
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  align-items: center;
  letter-spacing: 0.06em;
  border: 0;
  border-radius: 4px;
}
.register-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
/* Портфоліо */
:root {
  --primary-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bgr-color: #f5f5f5;
  --second-text-color: #757575;
  --anim-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
h1,
h2,
h3,
h4,
p {
  margin: 0px;
}
.main-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.visually {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.visually .btn + .btn {
  margin-left: 8px;
}
.flex-container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.button {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  border-radius: 4px;
  border: 0;
  transition: background-color var(--anim-fast), color var(--anim-fast),
    box-shadow var(--anim-fast);
}
.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button.current {
  background-color: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.examples {
  width: calc((100% - 60px) / 3);
}
.examples:nth-child(3n) {
  margin-right: 0px;
}
.examples-title-text {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.images {
  display: block;
  text-decoration: none;

  transition: box-shadow var(--anim-fast);
}
.images:hover,
.images:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.images-anime {
  position: relative;
  overflow: hidden;
}

.label {
  position: absolute;
  width: 100%;
  height: 100%;

  top: 0;
  left: 0;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;

  transform: translateY(100%);
  transition: transform var(--anim-fast);
}
.images:hover .label,
.images:focus .label {
  transform: translateY(0);
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.work-title {
  color: var(--primary-text-color);
  font-size: 18px;
  line-height: 2;
}
.work-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--second-text-color);
}

.item .link {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.item .link-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.title-foot {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;

  color: #ffffff;
}
.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.socials-link.cont {
  width: 44px;
  height: 44px;
  display: flex;

  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 10%);

  transition: background-color var(--anim-fast);
}
.social-icon {
  fill: #afb1b8;
}
.socials-link:hover,
.socials-link:focus {
  background-color: var(--accent-color);
}
.social-icon:hover,
.social-icon:focus {
  fill: #ffffff;
}
/* Footer */
 .footer {
    
    background-color: #2f303a;
    padding-top: 60px ;
    padding-bottom: 60px;
    
  }
  .item .link {
    font-size: 14px;
    line-height: 1.7;
    color: #ffffff;
    text-decoration: none;
    font-style: normal;
  }
  .logo--light {
    display: block;
    margin-bottom: 20px;
    color: #ffffff;
    
  }
  .address {
    margin-bottom: 9px;
  }
  .address:last-child {
    margin-bottom: 0px;
  }
  .item .link-text {
    font-size: 14px;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-style: normal;
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .item .link-text:hover,
  .item .link-text:focus {
    color: var(--accent-color);
  }
  
  .itm-nav {
    display: flex;
  }
  .foot-add {
    margin-right: 70px;
  }
  .foot-cont {
    padding-top: 12px;
  }
 

  .title-foot {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
  
    color: #ffffff;
  }
  .icon-foot {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  /* Розсилка */

  .form-footer {
    width: 578px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 93px;
    margin-bottom: 23px;
  }
  .form-field-footer {
    display: flex;
    gap: 12px;
  }
  .form-strong {
    margin-bottom: 20px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    color: #ffffff;
  }
  .form-input-footer {
    width: 358px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    outline: transparent;
  
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(20 / 16);
  
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
  
    color: #ffffff;
  }
  .form-input-footer::placeholder{
    color:rgba(255, 255, 255, 0.6);
  }
  .form-button-footer {
    display: flex;
    gap: 10px;
    padding: 10px 32px;
    background-color: var(--accent-color);
    color: #ffffff;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    align-items: center;
    letter-spacing: 0.06em;

    border: 0;
    border-radius: 4px;
  }
  
  .button-icon-footer {
    align-items: center;
  }

  